{% load static %}
<div class="about-area section-padding bg-white">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-12 col-xs-12 info">
            <div class="about-wrapper wow fadeInLeft" data-wow-delay="0.3s">
              <div>
                <div class="site-heading">
                  <h2 class="section-title">Detalhes do nosso projeto</h2>
                </div>
                <div class="content">
                  <p>
                    Para o desenvolvimento e aprimoramento da atual proposta de trabalho, têm-se matérias especializadas e optativas dentro do curso de Engenharia de Controle e Automação que contribuem para o andamento de maneira mais expressiva. As matérias especializadas e optativas que possuem maior correlação com presente trabalho proposto são: Programação orientada a objetos, integração de sistemas, Tópicos avançados em redes de telecomunicações, Sistemas embarcados,
                  </p>
                  <a href="#" class="btn btn-common mt-3">Read More</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-12 col-xs-12 wow fadeInRight" data-wow-delay="0.3s">
            <img class="img-fluid" src="{% static 'img/about/team.png' %}" alt="" >
          </div>
        </div>
      </div>
    </div>