{% load static %}
<section id="gotable" class="section-padding bg-grey">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-xs-12 wow fadeInLeft" data-wow-delay="0.3s">
            <div class="gotable-text">
              <h4>Visite a Tabela</h4>
              <p>Analise os dados na Tabela</p>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-xs-12 text-right wow fadeInRight" data-wow-delay="0.3s">
            </br><a href="#animais" class="btn btn-common">Visite a tabela</a>
          </div>
        </div>
      </div>
    </section>